body {
 background-image: url(../images/IMG_0115.jpg);
 background-repeat: no-repeat;
 z-index: 0;
 position: absolute;
 width: 100%;
 background-size: cover;
 background-position: center;
}

h1 {
  color: white;
}
